<?xml version="1.0" encoding="UTF-8"?>
<application>
<workingDir>C:/temp/DataLoader/</workingDir>
<defaultAuthority>HICN</defaultAuthority>
<primaryAuthority>HICN</primaryAuthority>
<sourceSystem>CMS</sourceSystem>
<sourceType>CMS_KNOWN</sourceType>
<sourceDate>2014-09-01</sourceDate>
<workflow>
<deleteOnClose>false</deleteOnClose>
<validation>
<enabled>false</enabled>
</validation>
<map>
<enabled>true</enabled>
<overwrite>true</overwrite>
</map>
<reduce>
<enabled>true</enabled>
<overwrite>true</overwrite>
</reduce>
<output>
<enabled>true</enabled>
<path>C:/temp/DataLoader/patients.json</path>
</output>
<upload>
<enabled>false</enabled>
<overwrite>true</overwrite>
</upload>
</workflow>
<codingSystems>
<CPTLabel>CPT</CPTLabel>
<ICD9DXLabel>ICD9</ICD9DXLabel>
<ICD9SGLabel>ICD9SG</ICD9SGLabel>
</codingSystems>
<security>
<key></key>
<algorithm></algorithm>
</security>
<endpoint>
<server>https://stagedr.apixio.com:8443</server>
<batchName>backload</batchName>
<username>apxdemot0312</username>
<password>Hadoop.4522</password>
</endpoint>
<demographics>
<path>C:/temp/DataLoader/Demographics.csv</path>
<sourceSystem>NextGen</sourceSystem>
<sourceType>ACTIVE</sourceType>
<sourceDate>2014-09-01</sourceDate>
<linesToSkip>1</linesToSkip>
<editType>ACTIVE</editType>
</demographics>
<!-- NOTE: Unlike other base objects, this value is a directory rather than a file -->
<problemsraps>
<path>C:/temp/DataLoader/raps_return</path>
<sourceSystem>RAPS</sourceSystem>
<sourceType>ACTIVE</sourceType>
<sourceDate>2014-09-01</sourceDate>
<linesToSkip>1</linesToSkip>
<editType>ACTIVE</editType>
</problemsraps>
<providers>
<path>C:/temp/DataLoader/Providers.csv</path>
<sourceSystem>NextGen</sourceSystem>
<sourceType>ACTIVE</sourceType>
<sourceDate>2014-09-01</sourceDate>
<linesToSkip>1</linesToSkip>
<editType>ACTIVE</editType>
</providers>
</application>

